/* ReactStrap Overrides */

.container-fluid{
    --bs-gutter-x: 5rem;
    --bs-gutter-y: 0;
    max-width: 1200px;
}

.navbar-collapse{
    flex-grow: unset;
}
.btn-info{
    background: #FDB13E;
    border: 1px solid #a77f61;
}


/* Common Classes */

h1{
    text-align: center;
    color: #534032;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 10vh;
    letter-spacing: 20px;
}
h3{
    margin: 0;
    color: #534032;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.hero-section img{
    width: 50px;
    display: block;
    opacity: 0.7;
    
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 331px;
    margin: auto;
    /* background-color: #fff1d9;
    background-color: #c5a264; */
    padding: 5px 15px;
    border-radius: 15px;
}

.hero-buttons{
    width: 220px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 10vh;
}
.btn-downloads{
    display: flex;
}
.btn-downloads i{
    margin-left: 5px;
}


/* Styles */

.darshan-container{
    height: 100vh;
    background-image: url('./assets/img/dt_artists_vector.svg'), url('./assets/img/dt_sun.svg'), url('./assets/img/dt_background.svg');
    background-position: center bottom, center bottom, center bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 300px, 50%, cover;
}